<form action="/add" method="post" class="add-form-section">
    <input type="text" id="title" name="title" class="item-title-input" />
    <input type="submit" value="Add" class="btn add-item-btn" />
</form>